$primary-color: #042590;
$dark-gray: #222222;
$light-gray: #d9d9d9;
$lighter-gray: #F1F1F1;

$back-green:#41AB6B;
$back-yellow:#EEA303;

$back-header:#E6AE48;
/*$back-header:#2980b9;*/
$back-nav:#EEA303;
/*$back-nav:#3498db;*/

$color-light-text: #5e5e5e;
$color-dark-text: #2A2A2A;


$color-light-text-hex: #5e5e5e;
$color-dark-text-hex: #2A2A2A;


$color-nav-gray:$color-light-text;
/*$color-nav-gray:#dcdcdc;*/

$color-border-light: #eee;
$color-border-dark: #e1e1e1;

$color-back-copyright:#16202A;